

::deep .formEdit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep .formEdit input {
    width: 300px;
    margin: 15px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}

::deep .formEdit label {
    width: 150px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
input {
    border-radius: 10px; 
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s;
    border: none;
    padding: 10px 15px;
}