<app-custom-toast></app-custom-toast>
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon name="cilCog" size="lg"></svg>
    </button>
    <c-header-brand routerLink="/{{ link }}">
      <b [ngStyle]="{ color: '#0dcaf0' }">Pharma</b> Go
      <span [ngStyle]="{ 'font-size': 'small', 'font-weight': 'bold' }"
        >{{ title }} Panel</span
      >
    </c-header-brand>

    <c-header-nav class="ms-auto">
      <c-nav-item class="d-flex align-items-center">
        <div *ngIf="username" class="d-flex align-items-center">
          <span class="me-2">Welcome, {{ username }}</span>
          <a (click)="logout()" title="Logout" cNavLink class="d-flex align-items-center">
            <svg cIcon name="cilAccountLogout" size="lg"></svg>
          </a>
        </div>
      </c-nav-item>
    </c-header-nav>
  </c-container>
</ng-container>
